  </div>
  <footer>
    <div class="footer-container">
      <div class="left-part">
        <div class="gamescore-footer">
          <i class='bxr  bx-gaming bx-md' style='color:#ffffff'></i>
          <h2 class="h2-footer">GameScore</h2>
        </div>
        <p>Follow and give a note to your favorite video games</p>
      </div>
      <div class="middle-part">
        <h2 class="h2-footer">Useful links</h2>
        <a href="/">Home</a>
        <a href="/contact" class="contact-button">Contact</a>
      </div>
      <div class="right-part">
        <h2 class="h2-footer">Follow us</h2>
        <div class="social-media">
          <i class='bx  bxs-like bx-sm' style='color:#ffffff'></i>
          <i class='bx  bxs-like bx-sm' style='color:#ffffff'></i>
          <i class='bx  bxs-like bx-sm' style='color:#ffffff'></i>
          <i class='bx  bxs-like bx-sm' style='color:#ffffff'></i>
        </div>
      </div>
    </div>
    <div class="subfooter">
      <p>© 2025 GameScore. All rights reserved.</p>
    </div>
  </footer>
  </body>

  </html>